*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    background:rgb(0, 0, 0);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color: #C89B3C;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:#ebc700;
    font-weight:500;
}

.nav-links a:hover{
    color:#a17007;
}

button{
    padding:12px 24px;
    border:none;
    border-radius:8px;
    background:#C89B3C;
    color:white;
    cursor:pointer;
     transform:scale(1.05);
     transform:translateY(-3px);
     box-shadow:0 0 20px rgb(150, 123, 2);
      margin: 0 45px;
       transition:0.3s;
}

button:hover{
    background:#a87d27;
}
body{
     background-color: black;
    font-family: Arial;
    text-align: center;
}
h1{
    color: #C89B3C;
    font-size:30px;
}
p{
    color: #C89B3C;
   
}
img{
     width: 200px;
    border-radius: 20px;
    margin-bottom: 20px ;
    box-shadow:0 0 25px rgb(209, 161, 5);
}
.hero{
    margin-top: 80px;
    text-align: center;
}
.hero h1{
    margin-bottom:20px;
}
.hero p{
    margin-bottom:30px;
}
.hero button{
    margin:0 10px 30px;
}   
.hero img{
    margin-top:30px;
}
